/* Import Montserrat font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

/* Global Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  transition: .3s ease;
}

/* Color and Styles (Default) */
:root {
  --PrimaryColor: hsl(94, 59%, 35%);
  --HoverColor: #bdf094;
  --paleGreen: hsl(96, 75%, 89%);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 0%, 18%);
  --textColor: hsl(240, 1%, 48%);
  --bgColor: hsl(220, 10%, 94%);
  --greyText: rgb(190, 190, 190);
  --inputColor: hsl(330, 12%, 97%);
  
  /* Font Sizes */
  --biggestFontSize: 2.5rem;
  --h1FontSize: 1.5rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: .938rem;
  --smallFontSize: .813rem;
  --smallestFontSize: .75rem;
}

/* Body to take full height and center content */
body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--bgColor);
  overflow: hidden; /* Prevent scroll */
}

/* Main container styling for totem display */
.containerV {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--bgColor);
  overflow: hidden;
  border-radius: 0;
  box-shadow: none;
}

/* Fullscreen map container styling */
.map-container {
  height: 60vh; /* Adjust as needed */
  width: 90vw;
  max-width: 100%;
  margin-top: 2rem; /* Space below navbar */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Cambios en el Navbar */
.navbar {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
  background-color: var(--whiteColor);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  width: 100%;
  position: absolute;
  top: 0;
}

.navbar span {
  font-size: 1.2rem; /* Tamaño de letra más grande */
  font-weight: 600; /* Letra más gruesa */
  color: var(--PrimaryColor); /* Color principal */
  cursor: pointer;
  transition: color 0.3s ease, background-color 0.3s ease, transform 0.2s;
}

.navbar span:hover {
  color: var(--HoverColor); /* Cambiar color al pasar el mouse */
  transform: scale(1.1); /* Aumentar tamaño ligeramente */
}

.navbar span.highlighted {
  background-color: var(--PrimaryColor);
  color: var(--whiteColor);
  padding: 0.5rem 1rem;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Agregar un poco de sombra */
}


/* Adjustments for button and icons */
.btn {
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 2px 4px var(--inputColor);
  padding: 0.8rem 1rem;
  color: var(--textColor);
  font-size: var(--h2FontSize);
}

.btn:hover {
  background: var(--paleGreen);
  color: var(--PrimaryColor);
}

/* Additional styling for other elements */
.divMain {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.flex {
  display: flex;
  align-items: center;
}

.grid {
  display: grid;
  align-items: center;
  gap: 1.5rem;
}

.icon {
  font-size: var(--h2FontSize);
}

/* General button hover */
.btn .icon {
  margin-left: 0.5rem;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

@media screen {
  
}
